<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Hello-books Admin Book Requests Page</title>

    <!-- Import materialize min.css for styling -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <!-- Import Google fonts-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>


    <ul id="dropdown" class="dropdown-content">
        <li><a href="addbook.html">Add Book</a></li>
        <li class="divider"></li>
        <li><a href="borrowrequests.html">View Borrow Requests</a></li>
        <li class="divider"></li>
        <li><a href="returnrequests.html">View Return Requests</a></li>
        <li class="divider"></li>
    </ul>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper teal darken-2">
                <img src="./images/logo.png" class="img-logo left">
                <h4 class="left">Admin</h4>
                <ul class="right hide-on-med-and-down">
                    <!-- Dropdown Trigger -->

                    <li><a class="dropdown-button" href="#!" data-activates="dropdown">Menu<i class="material-icons right">dehaze</i></a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="section">
        <h3 class="center">Return Requests</h3>
        <div class="divider"></div>

        <table class="striped centered responsive-table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Book Title</th>
                    <th>Date of return</th>
                    <th>Comments</th>
                    <th colspan="2">Action</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>Ada</td>
                    <td>Greene</td>
                    <td>adag@gmail.com</td>
                    <td>Half of a yellow sun</td>
                    <td>12/01/2018</td>
                    <td>Nil</td>
                    <td><button class="btn btn-small orange">Accept</button></td>
                    <td><button class="btn btn-small orange">Decline</button></td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Bush</td>
                    <td>jbush@gmail.com</td>
                    <td>Purple hibiscus</td>
                    <td>12/01/2018</td>
                    <td>Nil</td>
                    <td><button class="btn btn-small orange">Accept</button></td>
                    <td><button class="btn btn-small orange">Decline</button></td>
                </tr>
            </tbody>
        </table>

    </div><br><br>

    <footer class="page-footer teal lighten-2">
        </div>
        <div class="footer-copyright">
            <div class="container center-align yellow-text text-lighten-2">
                © 2017 Copyright Hello-books
            </div>
        </div>
    </footer>

    <!-- Import jquery.js and then materialize.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').material_select();
            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: false // Close upon selecting a date,
            });
        });
    </script>
</body>