$formImage: 100px;
$logoImage: 64px;
$errorColor: red;
$errorSize: 1.2rem;
$sucessColor: green;

.form-logo {
  width: $formImage; 
  height: $formImage;
}

.img-logo {
  width: $logoImage; 
  height: $logoImage;
}

.books-image {
  height: 300px;
  width: 200px;
}

.parallax-container {
  height: 400px;
  opacity: 0.8;
}

.book-text {
  font-size: 12px;
}
.validationError {
  color: $errorColor;
  font-size: 0.8em;
}

.error {
  color: $errorColor;
  font-size: 0.8em;
  margin-left: 20%;
}

.signUpError {
  color: $errorColor;
  font-size: $errorSize;
}

.signUpSuccess {
  color: $sucessColor;
  font-size: $errorSize;
}

.favorite-img {
  height: 150px;
}
