$form-image: 100px;
$logo-image: 64px;
$error-color: #ff0000;
$error-size: 1.2rem;
$sucess-color: #008000;
$overlay-color: rgba(32, 40, 46, 0.5);
$modal-color: #fff;
$modal-box-color: rgba(0, 0, 0, 0.5);

.form-logo {
  height: $form-image;
  width: $form-image;
}

.img-logo {
  height: $logo-image;
  width: $logo-image;
}

.books-image {
  height: 300px;
  width: 200px;
}

.parallax-container {
  height: 400px;
  opacity: 0.8;
}

.Modal {
  background-color: $overlay-color;
  bottom: 0;
  box-shadow: 0 5px 20px 0 ;
  left: 20%;
  outline: none;
  overflow: auto;
  position: absolute;
  right: 20%;
  top: 0;
  z-index: 2000;
}

.Overlay {
  background-color: $overlay-color;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
}

.book-text {
  font-size: 12px;
}

.error {
  color: $error-color;
  font-size: 0.8em;
  margin-left: 20%;
}

.sign-up-error {
  color: $error-color;
  font-size: $error-size;
}

.sign-up-success {
  color: $sucess-color;
  font-size: $error-size;
}

.favorite-img {
  height: 120px;
}

.book-list {
  width: 90%;
}

.wrapper {
  min-height: calc(100vh - 50px);
}

.pageFooter {
  height: 50px;
}

.parallax-container,
.book-header {
  font-family: "Old Standard TT";
  font-stretch: narrower;
}

.book-image {
  min-height: 400px;
}

.card {
  height: 400px;
  width: 300px;
}

.card-image img {
  height: 200px;
}

.book-icon {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.review {
  margin-left: 15px;
  margin-right: 15px;
}

.dashboard {
  height: 15%;
  background: linear-gradient(white, grey),
}

@media (max-width: 600px) {
  .brand-logo img {
    height: 56px;
  }

  .parallax-container .dashboard{
    height: 15%;
  }

  .favorite-img {
    height: 100px;
  }

  .modal {
    background-color: $modal-color;
    bottom: 0;
    box-shadow: 0 5px 20px 0 $modal-box-color;
    left: 5%;
    outline: none;
    overflow: auto;
    position: absolute;
    right: 5%;
    top: 0;
    z-index: 2000;
  }
}
