$form-image: 100px;
$logo-image: 64px;
$error-color: #ff0000;
$error-size: 1.2rem;
$sucess-color: #008000;
$overlay-color: rgba(32, 40, 46, 0.5);
$modal-color: #fff;
$modal-box-color: rgba(0, 0, 0, 0.5);
$primary-color: #3F55BA;
$special-text : 'Playfair Display';
$nav-color: #1B1B1B;

body {
  font-family: 'Raleway';
}

.form-logo {
  height: $form-image;
  width: $form-image;
}

.input-field input:focus  {
  color: #191919 !important;
}

.auth-text {
  font-weight: 700;
}

.input-field .prefix.active {
  color: $primary-color;
}

.admin {
  width: 95%;
  margin: auto;
}

.admin table {
  border: 1px solid #D3D3D3;
  border-radius: 10px;
}

.admin thead {
  background-color: $nav-color;
}

.admin th {
  color: #ffffff;
}

.row .input-field input:focus {
  border-bottom: 1px solid $primary-color !important;
  box-shadow: 0 1px 0 0 $primary-color !important
}


.input-field textarea[class=materialize-textarea]:focus {
  border-bottom: 0.5px solid $nav-color !important;
  box-shadow: 0 1px 0 0 $nav-color !important
}

.btn:focus {
  background-color: $primary-color;
}

.img-logo {
  height: $logo-image;
  width: $logo-image;
  margin-left: 30px;
}

.img-upload {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.img-upload img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.dropzone {
  width: 100%;
  border-width: 1px;
  color: #9E9E9E;
  border-color: #3575CC;
  border-style: dashed;
  border-radius: 5px;
}

.progress-bar{
  width: 200px;
  position: relative;
  height: 8px;
  margin-top: 4px;
}
.progress-bar .progress{
  height: 8px;
  background-color: #ff0000;
  width: 0;
}

.books-image {
  height: 300px;
  width: 200px;
}

#modal-header {
  margin: 0px !important;
}

.action-button {
  background-color: #FF0000;
  color: #FFF;
}

.action-button:hover {
  background-color: #FFF;
  border: 1px solid #FF0000;
  color: #FF0000 !important;
}

.primary-button {
  background-color: $primary-color;
  color: #FFF;
}

.primary-button:hover {
  background-color: #fff;
  border: 1px solid $primary-color;
  color: $primary-color !important;
}

.slider-div {
  opacity: 0.9;
  font-family: $special-text;
  font-stretch: narrower;
}

.slider-text {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px;
}

.slider-div p:first-child {
  font-size: 3.5rem;
  line-height: 110%;
  margin: 5px;
}

nav li :hover{
  background-color: grey !important;
}

.section-search, .foot{
  background-color: rgba(0, 0, 0, 0.9);
}

.section-search input{
  border-radius: 5px !important;
}

.search-div{
  font-weight: 400;
}

.search-section{
  margin-top: -25px;
}

.book-text {
  font-size: 12px;
}

.error {
  color: $error-color;
  font-size: 0.8em;
  margin-left: 20%;
}

.sign-up-error {
  color: $error-color;
  font-size: $error-size;
}

.sign-up-success {
  color: $sucess-color;
  font-size: $error-size;
}

.book-list {
  width: 90%;
}

.wrapper {
  min-height: calc(100vh - 50px);
}

.page-footer {
  height: 70px;
}

.parallax-container,
.book-header {
  font-family: $special-text;
  font-stretch: narrower;
}

.book-details-header {
  font-family: $special-text;
  font-stretch: narrower;
  text-transform: uppercase;
  background-color: $nav-color;
  padding: 10px;
  color: #fff;
}

.book-detail-icons {
  color: #323232;
  background-color: #fff;
}

.book-detail-icons:hover {
  color: $primary-color;
  background-color: #fff;
}

.book-image {
  min-height: 400px;
}

.card-image img {
  height: 200px;
}

.book-icon {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.review {
  padding: 0 10px 10px 10px;
  border-radius: 3px;
  max-height: 300px;
  overflow: scroll;
  margin: 8px;
}

.review-box {
  padding: 3px 10px 3px 10px;
  margin-top: 5px;
}

.search-button {
  border: 1px solid $primary-color;
  color: $primary-color;
  text-align: center;
}

.search-button:hover {
  color: #fff;
  background-color: $primary-color;
}

.favorite-card {
  min-height: 150px;
}

.vertical-divider {
  border: 1px solid black;
  width: 1px;
}

.dashboard {
  height: 15%;
  background: linear-gradient(white, grey),
}

.nav-wrapper {
  background-color: #1B1B1B !important;
}

.author {
  font-size: 16px;
}

.favorite-card a, .primary-text, th{
  color: $primary-color;
}

.wrap {
  margin-bottom: 0;
}

.form-wrap {
  margin: 25px;
}


.books-list .input-field {
  margin : 0;
  padding: 0 10px 0 10px;
}

.books-list button {
  margin-left: 10px;
}

.books-list textarea {
  padding: 3px 0 0 3px;
}

.profile-img {
  width: 200px;
  border-radius: 5px;
}

.bio-details {
  margin-left: 20px;
  width: 70%;
  height: 180px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.pagination-item {
  margin: 5px;
  text-align: center;
  color: $primary-color;
}

.pagination-item button {
  padding: 8px;
}

.pagination-item :first-child{
  margin-right: 10px;
}

.pagination-item span {
  background-color: $primary-color;
  color: white;
  padding: 10px;
  margin: 8px;
}

.pagination-item span:first-of-type {
  background-color: white;
  color: $primary-color;
  border: 1px solid $primary-color;
  margin: 8px;
}

.next-icon {
  font-size: 1.6rem;
  transition: 0.8ms ease-in-out;
  padding: 3px;
}

.next-icon:hover {
  font-size: 1.7rem;
  background-color: #ff0000;
  color: #fff;
}

.rw-widget .rw-widget-picker {
  height: 46px;
}

.rw-state-focus > .rw-widget-container {
  background-color: #fff !important;
}

.search-result {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}

.search-result .pagination {
  margin-top: 0;
}

.search-result div:first-of-type {
  margin-right: 30px;
}

.swal-button--confirm, .swal-button--cancel {
  color: #fff;
  background-color: $primary-color !important;
}

.profile-div {    
  margin:30px;
  min-height: 220px;
  max-height: 350px;
  overflow: scroll;
  padding: 5px;
  background-image: linear-gradient(top, $nav-color, $nav-color 20%, transparent 20%, transparent 100%);
  background-image: -webkit-linear-gradient(top, $nav-color, $nav-color 20%, transparent 20%, transparent 100%)  
}

.add-book {
  margin:30px;
  padding: 5px;
  background-image: linear-gradient(top, $nav-color, $nav-color 8%, transparent 8%, transparent 100%);
  background-image: -webkit-linear-gradient(top, $nav-color, $nav-color 8%, transparent 8%, transparent 100%); 
}

.add-book h5 {
  color: #FFF;
  font-family: $special-text;
}

.profile-div h6 {
  margin-bottom: 25px;
}

.modal-header-text {
  color: $primary-color;
  font-family: $special-text;
  margin-bottom: 30px;
}


@media (max-width: 600px) {
  .brand-logo img {
    height: 56px;
  }

  .parallax-container .dashboard{
    height: 15%;
  }
}

@media (max-width: 820px) {
  .profile-img {
    width: 150px;
    margin: 0;
  }

  .profile-img-div {
    width: 100%;
    margin-left: 40%;
  }

  .bio-details {
    width: 100%;
    margin: auto;
  }
}
